body {
    background-color: #121212;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #1DB954; /* Spotify green */
}

form {
    background: #181818;
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 255, 100, 0.3);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
}

button {
    background-color: #1DB954;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #1ed760;
}

a {
    color: #1DB954;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#result, #history {
    background: #181818;
    padding: 15px;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
    text-align: left;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(30, 215, 96, 0.2);
}
